/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua:300,400,500,600,700&subset=latin");

@font-face {
  font-family: "Roboto Regular";
  src: url("https://cdn.prod.website-files.com/64a42455c0e137bdb5e7838e/64a4386c9aa04615c7b9bb3f_Roboto-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("https://cdn.prod.website-files.com/64a42455c0e137bdb5e7838e/64a53390500fa85b4f4f2909_Roboto-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("https://cdn.prod.website-files.com/64a42455c0e137bdb5e7838e/64a533935f40c9b20ed409ff_Roboto-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
